# Spotify required
SPOTIFY_CLIENT_ID="REPLACE_THIS"
SPOTIFY_CLIENT_SECRET="REPLACE_THIS"

# LastFM required
LASTFM_API_KEY="REPLACE_THIS"
LASTFM_SHARED_SECRET="REPLACE_THIS"
LASTFM_USERNAME="REPLACE_THIS"

# Not required
PRIORITY_PLATFORM="LastFM"
SPOTIFY_PORT=9761
